body {
	font-family: 'Lato';
	margin: 0;
}
h1 {
			margin: 0;
			color: white;
}

.header {
	height: 80px;
	padding-top: 20px;
	background-color: red;
}
div {
	text-align: center;
}

img {
	height: 250px;
	margin: 50px 0;
	border-radius: 50%;
	transition: border-radius 1s ease-in-out;
	-webkit-transition: border-radius 1s ease-in-out;
	-moz-trasnition: border-radius 1s ease-in-out;
	-o-trasnsition: border-radius 1s ease-in-out;
}

img:hover{
	border-radius: 0;
}

.contact-me {
	font-weight: bold;
}
ul {
	list-style-type: none;
	padding-left: 0;
}
.container {
	height: 600px;
	width: 70%;
	margin-left: 15%;
}
li {
	display: inline-block;
}
a {
	color: #222222;
	text-decoration: none;
}

a:hover {
	color: red;
}
.footer {
	height: 80px;
	background-color: red;
	padding-top: 20px;
}